.team {
    background-color: #F5F4FA;;
}


.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-team {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--headlines-color);
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}

.team-member {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: #FFFFFF;
}

.team-member-name {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headlines-color);
    margin-bottom: 10px;

}

.team-member-div {
    padding-top: 30px;
    padding-bottom:30px;
}

.job-title {
font-weight: 400;
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;

color:var(--primary-text-color);
}

.social-icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}


.social-icon-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition);

    &:hover,
    &:focus {
    background-color: #2196F3;}

}

.social-icon-list-icon {
    fill: #AFB1B8;
    transition: fill var(--transition) ;

    .social-icon-list-link:hover &,
.social-icon-list-link:focus & {
    fill: #FFFFFF;
}
}


