.work {
    padding-top: 0;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
}

.whatwedo-link {
    position: relative;
}

.whatwedo-div {
    position: relative;
}

.whatwedo-sub-title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
height: 70px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
background-color: rgba(47, 48, 58, 0.8);;
}
